<p>
    <label for="{{field_id}}">{{field_title}}</label> 
    <input type="checkbox"
        {% if checked %}checked{% endif %}
        id="{{field_id}}" 
        name="{{field_name}}"
    />
</p>